VITE_SUPABASE_URL="https://rwgtlimwdpzdlxnoffap.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3Z3RsaW13ZHB6ZGx4bm9mZmFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyOTc3ODYsImV4cCI6MjA4ODg3Mzc4Nn0.raJ8FkVQFU_cyPYOpQ9YOI7qDg-iTZiA0FBXPIa1XAU"
VITE_APP_NAME=DOMYLI
VITE_APP_ENV=development